body {
  text-align: center;
  width: 100%;
  font-family: 'Merriweather', serif;
  background-image: url('https://images.unsplash.com/photo-1499346030926-9a72daac6c63');
  display: flex;
  flex-flow: column;
}

canvas {
  width: 90vw;
  height: 90vw;
  max-height: 50vh;
  max-width: 50vh;
  margin-top: 0.5vh;
  border: 3px solid black;
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightcyan;
  padding-top: 0.25em;
}

header {
  padding-top: 2vh;
  padding-bottom: 1vh;
  flex-flow: column;
  background-color: #eeeeee99;
}

header, main, footer {
  display: flex;
}

main {
  align-items: center;
  flex-flow: column;
}

p {
  font-size: 1.3rem;
  height: 1.3rem;
  margin: 0.2em;
}

.clouds {
  font-size: 1.2em;
}

.date-time {
  font-size: 1.1em;
}

.fa {
  color: black;
}

.precip {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.spacer {
  padding: 0 0.5em;
}

.weather-display {
  background-color: #ffffff99;
  padding: 0.2em 0.2em;
  border-radius: 0.5em;
  border: 2px solid black ;
}

#contact {
  width: 100%;
  font-size: small;
}

#current-weather > .date-time {
  border: 1px solid #222222;
  background-color: #f8f8f8;
  margin: 0.2em 0;
}

#weather-info {
  display: flex;
  flex-flow: row;
  bottom: 0;
  justify-content: space-around;
  padding-top: 0.5em;
}

#weather-info > * > * {
  padding-top: 0.1em;
}

@media (min-width: 560px) {

  body {
    margin-top: 2vh;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  header {
    height: 5em;
  }

  canvas {
    max-width: 80vh;
    max-height: 80vh;
  }

  main {
    order: -5;
  }
}

@media (min-width: 1025px) {
  canvas {
    max-width: 70vh;
    max-height: 70vh;
  }
} 

@media (min-width: 1601px) {
  canvas {
    max-height: 80vh;
    max-width: 80vh;
  }

  #not-map {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 50vw;
  }
}