body {
  text-align: center;
  width: 100%;
  font-family: 'Merriweather', serif;
  background-color: #baf7f7;
  display: flex;
  flex-flow: column;
}

canvas {
  width: 90vw;
  height: 90vw;
  max-height: 50vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightcyan;
  padding-top: 0.25em;
}

header {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  flex-flow: column;
}

header, main, footer {
  display: flex;
}

main {
  align-items: center;
  flex-flow: column;
}

p {
  font-size: 1.3rem;
  height: 1.3rem;
  margin: 0.2em;
}

.fa {
  color: black;
}

.precip {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.spacer {
  padding: 0 0.5em;
}

#contact {
  width: 100%;
  font-size: small;
}

#weather-info {
  display: flex;
  flex-flow: row;
  bottom: 0;
  justify-content: space-around;
}

@media (min-width: 560px) {

  body {
    margin-top: 2vh;
    flex-flow: row;
    justify-content: space-around;
  }

  canvas {
    max-height: inherit;
    max-width: 50vw;
    max-height: 90vh;
  }

  main {
    order: -5;
  }
}

@media (min-width: 801px) {

}